{% block body %}
<div class="row">
     <div class="col-12 col-sm-6 col-md-4">
      <div class="small-box bg-light shadow-sm border">
        <div class="inner">
          <h3>{{ total_sales }}</h3>

          <p>Total Product Selled</p>
        </div>
        <div class="icon">
          <i class="fa fa-boxes"></i>
        </div>
      </div>
    </div>
     <div class="col-12 col-sm-6 col-md-4">
      <div class="small-box bg-light shadow-sm border">
        <div class="inner">
          <h3>{{product_count}}</h3>

          <p>Total Product</p>
        </div>
        <div class="icon">
          <i class="fa fa-boxes"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <div class="small-box bg-light shadow-sm border">
        <div class="inner">
          <h3>₹{{ total_revenue }}</h3>

          <p>Total Revenue</p>
        </div>
        <div class="icon">
          <i class="fa">&#xf156;</i>
        </div>
      </div>
    </div>
{% endblock body %}