{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Cart</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="{% url 'index' %}">Home</a></li>
                                    <li><a href="{% url 'product' %}">Shop</a></li>
                                    <li class="active" aria-current="page">Cart</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Cart Section:::... -->
    <div class="cart-section" style="margin-bottom:100px;">
        <!-- Start Cart Table -->
        <div class="cart-table-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="table_page table-responsive">
                                <table>
                                    <!-- Start Cart Table Head -->
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <th class="product_total">Total</th>

                                        </tr>
                                    </thead> <!-- End Cart Table Head -->
                                    <tbody>
                                        {% for order_item in order_items %}
                                        <!-- Start Cart Single Item-->
                                        <tr>
                                            <td class="product_remove"><a href="{% url 'remove_from_cart' order_item.id %}"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                            <td class="product_thumb"><a href="{% url 'product_details' order_item.item.id %}">
                                                <img src="{{ order_item.item.product_image.url }}" alt=""></a>
                                            </td>
                                            <td class="product_name"><a href="{% url 'product_details' order_item.item.id %}">{{order_item.item.product_name}}</a></td>
                                            <td class="product-price">₹{{ order_item.item.amount }}</td>
                                            <td class="product_quantity"><label>Quantity</label> <input min="1"
                                                    max="{{order_item.item.stock}}"  type="number" value={{order_item.quantity}}></td>
                                            <td class="product_total">₹{{ order_item.get_total_item_price }}</td>
                                            
                                        </tr> <!-- End Cart Single Item-->
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div> <!-- End Cart Table -->
    <!-- Start Coupon Start -->
    <div class="coupon_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="coupon_code right" data-aos="fade-up" data-aos-delay="400">
                        <h3>Cart Totals</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Subtotal</p>
                                <p class="cart_amount">₹{{ total_amount }}</p>
                            </div>
                            <div class="cart_subtotal ">
                                <p>Shipping</p>
                                <p class="cart_amount"><span>Flat Rate:</span>₹{{shipping_charges}}</p>
                            </div>
                            <a href="#">Calculate shipping</a>

                            <div class="cart_subtotal">
                                <p>Total</p>
                                <p class="cart_amount">₹{{ grand_total }}</p>
                            </div>
                            <div class="checkout_btn">
                                <a href="{% url 'checkout' %}" class="btn btn-md btn-golden">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Coupon Start -->
</div> <!-- ...:::: End Cart Section:::... -->



{% endblock body %}