{% extends 'base.html' %}
{% load countries %}
{% block body %}
<style>

  
</style>

<!-- Offcanvas Overlay -->
<div class="offcanvas-overlay"></div>

<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Checkout</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li class="active" aria-current="page">Checkout</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Customer register Section :::... -->

<main class="form-signin w-50 m-auto" style="padding-bottom: 100px;">
    <div class="account_form" data-aos="fade-up" data-aos-delay="0">
        <h3>Checkout Information</h3>
            <form action="{%  url 'checkout' %}" method="POST" id="manage-form">
            {% csrf_token %}
            <div class="default-form-box">
              <label>Appartment Address</label>
              <input type="text" name="app_address" value="{{user.appartment_address}}">
           </div>
            <div class="default-form-box">
                <label>Street Address</label>
                <input type="text" name="street_address" value="{{user.street_address}}">
            </div>
            <div class="default-form-box">
              <label>Zip Code</label>
              <input type="text" name="zipcode" value="{{user.zip}}">
            </div>
            <div class="default-form-box">
                <label class="control-label">Country</label>
                <select name="country" class="form-control input-sm select2">
                  {% for code, name in countries %}
                    <option value="{{ code }}">{{ name }}</option>
                  {% endfor %}
                </select>
            </div>           
            <div class="default-form-box">
              <label>Payment Method</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="payment_method" value="cash-on-delivery">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Cash on Delivery
                  </label>
                </div>
            </div>
            
                        
            <div class="register_submit" >
                <button class="btn btn-md btn-black-default-hover mb-4 flex-center" type="submit">Confirm</button>
            </div>
        </form>
    </div>
</main>

<script>
    {% if error_message %}
          $(document).ready(function() {
              $('#manage-form').prepend('<div class="alert alert-success">{{ error_message }}</div>');
          });
    {% endif %}
</script>


  
<!-- ...:::: End Customer register Section :::... -->
{% endblock body %}
