{% extends "base.html" %}

{% block body%}
     <!-- Offcanvas Overlay -->
     <div class="offcanvas-overlay"></div>

     <!-- ...:::: Start Breadcrumb Section:::... -->
     <div class="breadcrumb-section breadcrumb-bg-color--golden">
         <div class="breadcrumb-wrapper">
             <div class="container">
                 <div class="row">
                     <div class="col-12">
                         <h3 class="breadcrumb-title">Contact Us</h3>
                         <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                             <nav aria-label="breadcrumb">
                                 <ul>
                                     <li><a href="{% url 'index' %}">Home</a></li>
                                     <li class="active" aria-current="page">Contact Us</li>
                                 </ul>
                             </nav>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div> <!-- ...:::: End Breadcrumb Section:::... -->
 
     <!-- ...::::Start Map Section:::... -->
 
     <!-- ...::::Start Contact Section:::... -->
     <div class="contact-section">
         <div class="container">
             <div class="row">
                 <div class="col-lg-4">
                     <!-- Start Contact Details -->
                     <div class="contact-details-wrapper section-top-gap-100" data-aos="fade-up" data-aos-delay="0">
                         <div class="contact-details">
                             <!-- Start Contact Details Single Item -->
                             <div class="contact-details-single-item">
                                 <div class="contact-details-icon">
                                     <i class="fa fa-phone"></i>
                                 </div>
                                 <div class="contact-details-content contact-phone">
                                     <a href="tel:+0123456789">0123456789</a>
                                     <a href="tel:+0123456789">0123456789</a>
                                 </div>
                             </div> <!-- End Contact Details Single Item -->
                             <!-- Start Contact Details Single Item -->
                             <div class="contact-details-single-item">
                                 <div class="contact-details-icon">
                                     <i class="fa fa-globe"></i>
                                 </div>
                                 <div class="contact-details-content contact-phone">
                                     <a href="mailto:fashion.stylehub.info@gmail.com">fashion.stylehub.info@gmail.com</a>
                                     <a href="http://www.google.com/">www.stylehub.com</a>
                                 </div>
                             </div> <!-- End Contact Details Single Item -->
                             <!-- Start Contact Details Single Item -->
                             <div class="contact-details-single-item">
                                 <div class="contact-details-icon">
                                     <i class="fa fa-map-marker"></i>
                                 </div>
                                 <div class="contact-details-content contact-phone">
                                     <span>MVJJ+33W, College Rd, Chalali, Nadiad, Gujarat 387001.</span>
                                 </div>
                             </div> <!-- End Contact Details Single Item -->
                         </div>
                         <!-- Start Contact Social Link -->
                         <div class="contact-social">
                             <h4>Follow Us</h4>
                             <ul>
                                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                 <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                 <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                 <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                             </ul>
                         </div> <!-- End Contact Social Link -->
                     </div> <!-- End Contact Details -->
                 </div>
                 <div class="col-lg-8">
                     <div class="contact-form section-top-gap-100" data-aos="fade-up" data-aos-delay="200">
                         <h3>Get In Touch</h3>
                         <form action="{% url 'contact_us' %}" method="post">
                            {% csrf_token %}
                             <div class="row">
                                 <div class="col-lg-6">
                                     <div class="default-form-box mb-20">
                                         <label for="contact-name">Name</label>
                                         <input name="name" type="text" id="contact-name">
                                     </div>
                                 </div>
                                 <div class="col-lg-6">
                                     <div class="default-form-box mb-20">
                                         <label for="contact-email">Email</label>
                                         <input name="email" type="email" id="contact-email">
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <div class="default-form-box mb-20">
                                         <label for="contact-subject">Subject</label>
                                         <input name="subject" type="text" id="contact-subject">
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <div class="default-form-box mb-20">
                                         <label for="contact-message">Your Message</label>
                                         <textarea name="message" id="contact-message" cols="30" rows="10"></textarea>
                                     </div>
                                 </div>
                                 <div class="col-lg-12">
                                     <button class="btn btn-lg btn-black-default-hover" type="submit">SEND</button>
                                 </div>
                                 <p class="form-messege"></p>
                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock body%}