{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="breadcrumb-title">Empty cart</h3>
            <div
              class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
            >
              <nav aria-label="breadcrumb">
                <ul>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'cart' %}">Cart</a></li>
                  <li class="active" aria-current="page">Empty cart</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- ...::::Start About Us Center Section:::... -->
<div class="empty-cart-section section-fluid" style="margin-bottom:100px;">
    <div class="emptycart-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                    <div class="emptycart-content text-center">
                        <div class="image">
                            <img class="img-fluid" src="{% static 'assets/images/emprt-cart/empty-cart.png' %}" alt="">
                        </div>
                        <h4 class="title">Your Cart is Empty</h4>
                        <h6 class="sub-title">Sorry Mate... No item Found inside your cart!</h6>
                        <a href="{% url 'product' %}" class="btn btn-lg btn-golden">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...::::End  About Us Center Section:::... -->

{% endblock body %}